<%= form_for @tweet do |f| %>
  <%= f.label :contents %>
    <div class="field">
    <%= f.label :genre  %>
    <%= f.select :genre, 
    [["食事編", "食事編"], 
    ["生活編", "生活編"],["その他", "その他"] 
    ], include_blank: "選択して下さい" %>
  </div>
    <div><%= f.text_area :title, :size => "30x1" %></div>
    <div> <%= f.text_area :contents, :size => "30x2" %></div>
   
 
  <%= f.submit "編集する" %>
<% end %>
<%= link_to "編集せずに戻る", tweets_path %>